<button class="w-full hover:scale-105 transition-all justify-center px-6 ring-[6px] ring-dark-green h-24 bg-bckg-light cursor-pointer rounded-tl-3xl rounded-md flex flex-col gap-2">
  <h1 class="tracking-wide uppercase font-semibold text-xl text-dark-green">{{header}}</h1>
  <span class="bg-green-gray w-full h-10 flex rounded-full p-1">
    <ng-content></ng-content>
    <span class="w-full flex h-full bg-light-green rounded-full ring-2 ring-white items-center px-3">{{text}}</span>
  </span>
</button>
