<div
  class="w-full relative h-12 ring-2 ring-inset ring-black flex justify-center items-center break-words rounded-sm"
  [ngClass]="{
    'bg-orange': isCorrect === false,
    'bg-green': isCorrect === true || isCorrect === 0,
    'bg-white': isCorrect === null,
    'bg-red-600': isCorrect === -1,
    'bg-sky-600': isCorrect === 1
  }"
>
  <ng-content></ng-content>
  @if(isCorrect === 1){
    <svg class="absolute size-10 opacity-40" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
      <path d="M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z"/>
    </svg>
  }
  @if(isCorrect === -1 ){
    <svg class="absolute size-10 opacity-40" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
      <path d="M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z"/>
    </svg>
  }
</div>

