<img src="../assets/logo.png" class="py-12 w-[600px]"/>
<nav class="w-[375px]">
  <ul class="flex flex-col gap-10 px-4">
    <li>
      <a routerLink="/classic">
        <app-nav-button text="Get clues on every try" header="Classic">
          <img src="https://archives.bulbagarden.net/media/upload/f/fb/0001Bulbasaur.png" class="h-full px-2"/>
        </app-nav-button>
      </a>
    </li>
    <li>
      <a routerLink="/description">
        <app-nav-button text="With pokédex sentence " header="dESCRIPTION">
          <img src="https://archives.bulbagarden.net/media/upload/1/10/0479Rotom-Pok%C3%A9dex.png" class="h-full px-2"/>
        </app-nav-button>
      </a>
    </li>
    <li>
      <a routerLink="/silhouette">
        <app-nav-button text="With shadow" header="sILHOUETTE">
          <img src="https://archives.bulbagarden.net/media/upload/f/fb/0001Bulbasaur.png" class="h-full px-2 brightness-0"/>
        </app-nav-button>
      </a>
    </li>
  </ul>
</nav>
